/* LoadingScreen styles */

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
.LoadingScreen {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C1D20;
    color: white;
    overflow: hidden;
    position: relative;
}

.fade-text {
    position: relative;
    z-index: 100;
    font-family: poppins, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    animation: .6s linear infinite fade;
    animation-direction: alternate;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* Media Queries for Tablet and Mobile */

@media only screen and (max-width: 600px) {
    .fade-text {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .fade-text {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 600px) {
    .fade-text {
        font-family: "Kalam", cursive;
        font-size: 2.2rem;
    }
}