/* Base styles (applies to desktops by default) */

.aboutcontainer {
    position: relative;
    top: 7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.aboutSection,
.section-intro {
    width: 55.5rem;
}

.aboutitems {
    font-family: poppins, serif;
    font-weight: 400;
    color: #1C1D20;
    font-size: clamp(1.3rem, 30vw, 1.7rem);
    margin-right: 0.3rem;
}

.abouttext {
    font-family: poppins, serif;
    font-weight: 300;
    color: #1C1D20;
    font-size: clamp(0.9rem, 30vw, 0.5rem);
}

.aboutlink {
    position: absolute;
    top: 22rem;
    right: 7.5rem;
    width: 11rem;
    height: 11rem;
    border: none;
    background-color: #1C1D20;
    border-radius: 100px;
    transition: all .2s ease-in;
}

.link {
    position: relative;
    font-family: poppins, serif;
    font-weight: 400;
    display: flex;
    top: 4.2rem;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
}

.aboutlink:hover {
    transition: all .2s ease-in;
    position: absolute;
    background-color: #455CE9;
}

.designcontainer {
    width: 100%;
    position: relative;
    top: 36%;
    gap: 5rem;
    padding: 3.5rem 5.4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.designid {
    font-family: poppins, serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(0.5rem, 30vw, 0.8rem);
    margin-bottom: 1.5rem;
    opacity: .98;
    color: #1C1D20;
}

.designtitle {
    font-family: poppins, serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(0.5rem, 30vw, 1.7rem);
    margin-bottom: 1.5rem;
    opacity: .98;
    color: #1C1D20;
}

.horzontalrule {
    margin-bottom: 1.5rem;
}

.designcontent {
    font-family: poppins, serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(0.5rem, 30vw, 1rem);
    opacity: 1;
    color: #1C1D20;
}


/* Tablet styles */

@media (min-width: 768px) and (max-width: 1024px) {
    .aboutcontainer {
        flex-direction: column;
        top: 5rem;
        padding: 1rem;
    }
    .aboutSection,
    .section-intro {
        width: 80%;
    }
    .aboutlink {
        top: 18rem;
        right: 5rem;
        width: 9rem;
        height: 9rem;
    }
    .link {
        top: 4rem;
        left: 2rem;
    }
    .designcontainer {
        flex-direction: column;
        gap: 3rem;
        padding: 2rem;
    }
}


/* Mobile styles */

@media (max-width: 375px) {
    .section {
        width: 100vw;
        height: 160vh;
        background-color: #FFFFFF;
        position: absolute;
        z-index: 100;
        top: 100%;
        color: #1a1822;
        border-radius: 15px 15px 0 0;
    }
    .aboutcontainer {
        width: 138vw;
        flex-direction: column;
        top: 2rem;
        padding: 1rem;
    }
    .aboutSection {
        width: 100%;
        height: 10rem;
    }
    .aboutSection,
    .section-intro {
        width: 100%;
    }
    .aboutitems,
    .abouttext {
        font-size: clamp(.4rem, 10vw, 0.77rem);
        text-align: center;
        width: 60%;
    }
    .abouttext {
        position: absolute;
        left: -2.5rem;
        top: 9rem;
    }
    .aboutlink {
        top: 13rem;
        right: 2rem;
        width: 7rem;
        height: 7rem;
    }
    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 2.5rem;
        font-size: clamp(.4rem, 10vw, 0.75rem);
    }
    .designcontainer {
        margin-top: -17rem;
        flex-direction: column;
        gap: 2rem;
        padding: 1.5rem;
    }
}