/* Nav styles */

.Nav {
    position: relative;
    z-index: 4;
    background: transparent;
    padding: 20px;
    font-family: poppins, serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    pointer-events: all;
}

.codebyli {
    margin: 10px 15px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    letter-spacing: -.003rem;
}

.pagesul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagesli,
a {
    margin: 10px 10px;
    font-size: 16px;
    color: white;
}


/* Media Queries for Tablet and Mobile */

@media (max-width: 1024px) {
    .Nav {
        padding: 10px;
    }
    .codebyli {
        font-size: 14px;
        margin: 8px 10px;
    }
    .pagesli,
    a {
        font-size: 14px;
        margin: 8px 8px;
    }
}

@media (max-width: 375px) {
    .Nav {
        flex-direction: row;
        padding: 10px;
    }
    .codebyli {
        font-size: 14px;
        margin: 8px 0;
    }
    .pagesul {
        flex-direction: row;
        gap: 1rem;
        align-items: flex-start;
    }
    .pagesli,
    a {
        font-size: 14px;
        margin: 8px 0;
    }
}